@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-OpenSans
}

.input-container {
  @apply flex flex-col justify-center rounded-xl border-[1px] h-[60px] md:w-96 w-80 relative px-4 py-5 hover:cursor-pointer 
}

.input-label { 
  @apply  absolute  bg-brandGhostWhite transition-all ease-in delay-150
}

.input-field {
  @apply w-full max-w-[295px] ring-0 focus:outline-none
}

.label-up {
  @apply transform -translate-y-[190%] text-xs
}

.input-container-row {
  @apply w-full flex flex-col md:flex-row md:space-x-6 space-y-6 md:space-y-0
}

@keyframes accordion-open {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}

@keyframes accordion-close {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}
